<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}</label>

        {% if campo.field.widget.input_type == 'file' and campo.value %}
            <br>
            <img src="{{MEDIA_URL}}/images/{{ campo.value }}" width="100" alt="" class="mb-3">
        {% endif %}

        <input type="{{ campo.field.widget.input_type }}"
        class="form-control"
        placeholder="{{ campo.label }}"
        name="{{ campo.name }}"
        value="{{ campo.value | default:'' }}">
    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div>
    {% endfor %}
    <input type="submit" class="btn btn-outline-success px-5" value="Enviar">
    <a href="{% url 'libros' %}" class="btn btn-outline-danger px-5 mx-3">Cancelar</a>
</form>